/*######### Defaults #######*/
* {
    box-sizing: border-box;
}

nav, 
header, 
footer {
    display: block;
}

.section-1{
    background-color: #eee;
    padding: 30px;
}

body {
    margin: 0;
}

label {
    font-size: 35px;
    font-weight: 600;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

article p {
    font-size: 25px;
    padding: 10px;
}

.container {
    width: 100%
    margin: auto;
    padding: 0;
    padding-bottom: 1%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

.child {
    text-align: center;
    width: 20%;
}
.child-1 {
    text-align: center;
    width: 50%;
}
.child-1 button {
    font-size: 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.child-2 {
    width: 33.3%;
    text-align: center;
}
.child-2 img {
    height: auto;
    width: 40px;
}
.child-2 p a {
    font-size: 15px;
    font-family: fantasy;
    color: black;
}
.child-3 {
    width: 100%;
    text-align: center;
}

textarea {
    width: 87%;
    height: 75px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 15px;
}

div input {
    width: 60%;
    height: 35px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

section.baner {
    padding: 7em 0 7em 0;
    background-attachment: fixed;
    background-position: center top;
    background-image: url(Key.jpg);
    background-size: cover;
    text-align: center;
    opacity: .8;
}
.section-1 > * {
    text-align: center;
    margin: 0;
    color: burlywood;
}
.section-1 h2 {
    font-size: 40px;
    padding: 5px;
    
}

.image-about {
    border: 9px antiquewhite solid;
    border-radius: 50%;
    padding: 25px;
}

figcaption {
    font-family: fantasy;
    padding-top: 6px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: blue;
  color: antiquewhite;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}

#map {
        width: 100%;
        height: 400px;
        background-color: grey;
}
/*########### Nav bar ##########*/
nav { 
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}
a {
    text-decoration: none;
    text-align: center;

}
ul.topnav li a { 
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    min-height: 45px;
    padding-left: 7px;
    padding-right: 7px;
    color: #666;
}

ul.topnav li a img {
    width: auto;
    height: 45px;
}
ul.topnav li a:hover {
    background-color: #0080ff;
    color: white;
}

ul.topnav li.dropdownIcon {
    display: none;
}

/*####### Custom styles ########*/

.baner h1 {
    font-size: 40px;
    color: red;
}
mark {
    background-color: antiquewhite;
}
.baner p a {
    background-color: mediumvioletred;
    padding: 10px;
    text-decoration: none;
    color: ghostwhite;
    border-radius: 7px;
}

.baner h2 {
    font-size: 25px;
    color: black;
}

/*######### MOBILE #######*/

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    .child {
    text-align: center;
    width: 50%;
    }
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a {
        display: flex;
        text-align: left;
    }
    
    .col-6, .col-4, .col-5, .col-7  {
        width: 100%;
        margin: 0;
    }
    
    div.mobileStack {
        width: 50%;
        display: block;
    }
    
    div.leftSide_col, div.rightSide_col {
        margin: 15px;
    }
    
    .child-2 {
        width: 100%;
    }
    
    textarea, div input {
        width: 85%;
    }
    
    .videoContainer iframe {
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    div.box {
        display: block;
        padding: 5px;
    }
    
    div.slopeIcon{
        margin: 10px;    
    }
    
    div.slopeIcon img {
        width: 100%;
    }
}