/*######### Defaults #######*/
nav, 
header, 
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

label {
    font-size: 35px;
    font-weight: 600;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

article p {
    font-size: 25px;
    padding: 10px;
}

.container {
    width: 100%
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row:: after {
    display: table;
    clear: both;
    content: "";
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


* {
    box-sizing: border-box;
}
/*########### Nav bar ##########*/
nav { 
    width: 100%;
    margin: 0
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav_right {
    float: right;
}

ul.topnav li a { 
    display: block;
    text-decoration:  none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: capitalize;
    color: #666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: white;
}

ul.topnav li.dropdownIcon {
    display: none;
}

/*####### Custom styles ########*/

#section_gradient_1 {
    background: #79abfc;
    background: -webkit-linear-gradient(#79abfc, #2e4468);
    background: -o-linear-gradient(#79abfc, #2e4468);
    background: -moz-linear-gradient(#79abfc, #2e4468);
    background: linear-gradient(#79abfc, #2e4468);
}

div.box {
    text-align: center;
    border-radius: 7px;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0, .15), 0 2px 3px 0 rgba(0,0,0,.1);
}

div.slopeIcon img {
    display: block;
    margin: auto;
    box-shadow: -2px/*H*/ -2px/*V*/ 20px/*B*/ 2px/*S*/ rgba(0 /*Shadow*/,0/*Background*/,0/*Box-color*/,.15/*Opacity*/), 2px 2px 17px 2px rgba(0,0,0,1);
}

button { 
    color: #fff;
    background-color: #0069ff;
    font-size: 32px;
    font-weight: 700;
    padding: 15px 60px;
    display: block;
    margin: 5px;
    text-align: center;
    border-radius: 7px;
}

button.learnMore {
    display: block;
    margin: auto;
}

div.icon {
    width: 100%;
}

div.leftSide_col {
    margin-left: 30%;
}

div.rightSide_col{
    margin-left: 15%;
}

h1.large {
    color: #fff;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

h1.section2Header {
    font-size: 65px;
    text-align: center;
}

form h2 {
    color: white;    
}

input[type="text"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

footer.footsy {
    background-color: #666;
    padding-left: 10%;
}

footer.footsy h1 {
    color: #fff;
    font-size: 35px;
}

footer.footsy ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li  {
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
}

/*######### MOBILE #######*/

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    
    h1.section2Header {
        font-size: 50px;    
    }
    
    .col-6, .col-4, .col-5, .col-7  {
    width: 100%;
    margin: 0;
    }
    
    div.mobileStack {
        width: 50%;
        display: block;
    }
    
    div.leftSide_col, div.rightSide_col {
        margin: 15px;
    }
    
    input[type="text"] {
        width: 350px;
    }
    
    .videoContainer iframe {
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    div.box {
        display: block;
        padding: 5px;
    }
    
    div.slopeIcon{
        margin: 10px;    
    }
    
    div.slopeIcon img {
        width: 100%;
    }
}